.btn{
    &--main{
        border: 1px solid;
        text-align: center;
        padding: 1rem 3rem;
        border-radius: 50px;
    }
}

.line_breaker{
    width: 100%;
    border-top: 1.5px solid;
}