.btn{
    &--main{
       position: relative;
       height: 6rem;
       z-index: 5;
       transition: all 1s;
       cursor: pointer;
       min-width: 20rem;
    }

    &__circle{
        position: absolute;
        width: 5rem;
        height: 5rem; 
        border: 0.16rem solid white;
        border-radius: 5rem;
        top: 0;
        transition: all 1s;
    }

    &__text{
        position: absolute;
        top: 1.5rem;
        display: flex;
        align-items: center;
        transition: all 1s;
        margin-left: 1rem;

        .link__text--btn{
            transition: all 1s;
            transform: translateX(0.6rem);
        }
    }

    &__icon{
        transition: all 1s;
        width: 1.7rem;
        path{
            stroke: $main-orange-dark;
        }
    }

    &:hover{
        .btn__circle{
           background-color: white;
        }

        .btn__text{
            margin-left: 1.6rem;
            .link__text--btn{
                transform: translateX(3rem);
            }
        }

        .btn__icon{
            transform: scale(1.8);
        }
    
    }
}

.line_breaker{
    width: 65%;
    border-top: 1.5px solid;
}

// LAYERS ------------------
.full-layer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    flex-direction: column;

    &--background{
        min-height: 100vh;

        &-plant{
            height: 60rem;
        }
    }

}

// TOP NAVIGATION --------
.top__navigation{
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8rem 3vw 0 3vw;
}


.navigation__image{
    width: 20rem;
    position: absolute;
}

//    BEES -----------------
.bees{
    z-index: 0;

    &--single{
        position: absolute;
        
    }

    @for $i from 1 through 4 {
        &--single:nth-child(#{$i}){
            left: random($limit: 90) + 1%;
            top: random($limit: 50) + 1%;
            transform: scale(0.2+($i*0.1));
            animation: bee-movements ($i*10s) infinite;
        }
      }
   }


//  BOTTTOM IMAGES 
.bottom-images{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: end;
    padding: 0 5rem;

    &--skills{
        margin-top: -20rem;
    }

    .bottom-image{
        width: 20rem;
    }
}
