@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

$assistant-font : 'Assistant', sans-serif;
$inria-sans-font: 'Inria Sans', sans-serif;

.heading{
    &__main{
        font-family: $assistant-font;
        font-size: 9rem;
        color: white;
        font-weight: 800;
        text-align: center;
        line-height: 7rem;
    }

    &__two{
        font-family: $inria-sans-font;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: 0.26em;
        color: black;
        text-transform: uppercase;
    }

    &__four{
        color: $main-green;
        font-family: $inria-sans-font;
        line-height: 6.5rem;
        font-weight: 700;
        font-size: 8rem;
    }

    &__five{
        color: $second-green;
        font-family: $inria-sans-font;
        letter-spacing: 0.26em;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &__six{
        color: $main-green;
        font-family: $inria-sans-font;
        line-height: 2rem;
        font-weight: 700;
        font-size: 2.5rem;
    }
}


.link__text{
    font-family: $inria-sans-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.26em;
    text-transform: uppercase;

    &--navigation{
        color: #FFFFFF;
        font-size: 1rem;
    }

    &--btn{
        color: #FFFFFF;
        font-weight: 600;
    }
}

.list-link__text{
    font-family: $assistant-font;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.15em;
}

.description{
    font-family: $assistant-font;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 0.06em;
}


.portfolio__text{
    text-transform: uppercase;
    font-family: $assistant-font;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.15em;

    &--name{
        font-weight: 600;
        letter-spacing: 0.2em;
    }
}

