.contact-us{
    display: flex;
    align-items: center;
    justify-content: center;

    &__heading{
        padding-bottom: 2rem;
    }

    &__info{
        width: 50%;
        background: $main-yellow;
        padding: 10rem;
        border-radius: 10rem;
        display: flex;
        justify-content: space-between;
    }

    &__image{
        &-wrapper{
            position: relative;
        }

        width: 26rem;
        position: absolute;
        right: -5rem;
        bottom: -4rem;
    }

    
}