.exp{
    padding: 4rem 0 ;

    &__navigation-wrapper{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        padding: 8rem 3vw 0 3vw;
        align-items: flex-start;
        box-sizing: border-box;
        z-index: 3;
        margin-bottom: -8rem;

        .exp__links{
            margin-left: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-top: 15rem;
        z-index: 1;

        .content{
            &__circle{
                width: 540px;
                height: 540px;
                background-color: $main-yellow;
                display: flex;
                flex-direction: column;
                transition: all 0.5s;

                &--logo{
                    border-radius: 50%;
                    z-index: 0;
                    margin-top: -20rem;
                }

                &--show-more{
                    width: 90vw;
                    height: 65vh;
                    border-radius: 8rem;
                    z-index: 20;
                    margin-top: -10rem;
                }
            }

            &__text{
                position: relative;
                margin-top: -16rem;

                transition: all 0.5s;
                display: flex;
                justify-content: center;

                &--headings{
                    margin-left: 50%;
                }
            }

            &__logo{
                width: 31rem;
                position: absolute;
                top: -31rem;
                height: 40rem;
                object-fit: contain;
            }

            &__button{
                display: flex;
                justify-content: left;
                margin-top: 2rem;
                margin-left: 0;
            }
        }
    }

    &__see-more{
        z-index: 25;
        position: absolute;
        margin-top: -10rem;
        width: 90vw;
        padding: 3rem;
        box-sizing: border-box;
        height: 65vh;
       
        border-radius: 8rem;

        &-info{
            display: flex;
            justify-content: space-evenly;
            transition: all 0.5s;
            align-items: center;
            height: 100%;

            .see-more__left{
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                height: 100%;
                overflow: scroll;
                padding-right: 1rem;
                justify-content: center;

                .description{
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    color: #764811;
                }
            }

            .see-more__right{
                width: 50%;
                max-height: 60vh;
                overflow-y: auto;

                .left__images{
                    column-count: 2;
                     column-gap: 2rem;

                    img{
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

//Smaller Screens
@media screen and (max-width: 600px) {
    .exp{    
        &__content{
            margin-top: 15rem;
    
            .content{
                &__text{
                    position: relative;
                    margin-top: -16rem;
    
                    &--headings{
                        text-align: center;
                        padding: 1rem;
                        margin-left: 0;
                    }
                }

                &__button{
                    justify-content: center;
                    margin-left: 6rem;
                }
            }
        }
    }

    .see-more__right{
        display: none;
    }

    .exp__see-more-info .see-more__left{
        width: 100%;
    }

    .exp__navigation-wrapper .exp__links {
        margin-left: 4.5rem;
    }
    
}

  
//larger Screens
@media screen and (min-width: 1400px) {
    .exp{    
        &__content{
            .content{
                &__circle{
                    width: 65rem;
                    height: 66rem;
                    margin-top: -25rem;
                }

                &__logo{
                    width: 37rem;
                    top: -37rem;
                }
            }
        }
    }
  }