.exp{
    padding: 4rem 0 ;

    &__navigation-wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 8rem 3vw 0 3vw;
        align-items: flex-start;
        box-sizing: border-box;
        z-index: 3;
        margin-bottom: -8rem;

        .exp__links{
            margin-left: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-top: 15rem;
        z-index: 1;

        .content{
            &__circle{
                height: 75vh;
                background-color: $main-yellow;
                display: flex;
                flex-direction: column;
                transition: all 0.5s;

                &--logo{
                    width: 75vh;
                    border-radius: 50%;
                    z-index: 0;
                    margin-top: -20rem;
                }

                &--show-more{
                    width: 90vw;
                    border-radius: 8rem;
                    z-index: 20;
                    margin-top: -10rem;
                }
            }

            &__text{
                position: relative;
                margin-top: -16rem;

                transition: all 0.5s;
                display: flex;
                justify-content: center;

                &--headings{
                    margin-left: 50%;
                }
            }

            &__logo{
                width: 50%;
                position: absolute;
                top: -24rem;
            }
        }
    }

    &__see-more{
        z-index: 25;
        position: absolute;
        margin-top: -10rem;
        width: 90vw;
        padding: 3rem;
        box-sizing: border-box;
        height: 75vh;
       
        border-radius: 8rem;

        &-info{
            display: flex;
            justify-content: space-evenly;
            transition: all 0.5s;

            .see-more__left{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;
               
            }

            .see-more__right{
                width: 50%;
                max-height: 70vh;
                overflow-y: auto;

                .left__images{
                    column-count: 2;
                     column-gap: 2rem;

                    img{
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

//Smaller Screens
@media screen and (max-width: 600px) {
    .exp{    
        &__content{
            margin-top: 15rem;
    
            .content{
                &__circle{
                    margin-top: -22rem;
                }
    
                &__text{
                    position: relative;
                    margin-top: -16rem;
    
                    &--headings{
                        text-align: center;
                        padding: 1rem;
                        margin-left: 0;
                    }
                }
            }
        }
    }
    
}