.landing-page{
   &__heading{
    z-index: 3;
   }

//    BACKGROUND CIRCLE
   &__background{
        width: 55%;

        &--circle{
            background-color: #FFBD15;
            border-radius: 100%; 
       }

       &::after{
        content: "";
        padding-bottom: 100%;
        display: block;
    }
   }
    


//    CONTENT: NAME AND WELCOME NOTE
    &__content{
        width: 100%;
        margin-top: 27vw;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: stretch;
        justify-content: flex-end;

        //    WELOCME NOTE ----------
        .landing-page__welcome-note{
            height: 40vh;
            margin-top: 7vh;
            margin-right: 7vw;
            align-self: flex-end;
        }
    }
}


//Smaller Screens
@media screen and (max-width: 600px) {
    .landing-page{     
     
     //    CONTENT: NAME AND WELCOME NOTE
         &__content{
             margin-top: 38vh;
     
             //    WELOCME NOTE ----------
             .landing-page__welcome-note{
                 height: 30vh;
                 margin-right: 0;
                 align-self: center;
                 text-align: center;
                 align-items: center;
             }
         }
     }
  }