.navigation__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: fixed;
}

.navigation{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 35vh;
    justify-content: space-between;
    margin-left: 1rem ;

    &__link{
        display: flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        opacity: 0.45;

        &--active{
            color: white;
            .navigation__img{
                transform: scale(1.3);
            }
        }

        &:hover{
            transform: scale(1.1);
            opacity: 1;
        }
    }

    &__img{
        width: 2.2rem;

        path{
            stroke: red;
            width: 1;
        }
    }

}