.bee{
    width: 6rem;
    height: 6rem;
    position: absolute;

    &--left{
        left: -2rem;
       animation: beeMoveLeft infinite linear backwards;
       @for $i from 1 through 7{
        &:nth-of-type(#{$i}){
            animation-delay: $i*0.8s;
            animation-duration: ($i*0.8s) + 50s;
        }
        }
    }

    &--right{
        left: 105%;
        animation: beeMoveRight infinite linear backwards;
        @for $i from 7 through 14{
            &:nth-of-type(#{$i}){
                animation-delay: $i*0.8s;
                animation-duration: ($i*0.8s) + 45s;
            }
        }
    }
    

    #wings{
        animation: bob 0.5s ease-in-out infinite;
        g{
            path{
                transform-origin: bottom;
                animation: wings 0.2s ease-in-out infinite;
            }

            @for $i from 1 through 10{
                path:nth-of-type(#{$i}){
                    animation-delay: $i*0.25s;
                }
            }
        }
    }
    #body{
        animation: bob 0.5s ease-in-out infinite;
    }
}

//Smaller Screens
@media screen and (max-width: 600px) {
    .bee{
        &--left{
           animation: beeMoveLeft infinite ease-in-out;
           @for $i from 1 through 7{
            .bee--left:nth-of-type(#{$i}){
                animation-delay: $i*0.8s;
                animation-duration: $i*0.8s + 10s;
            }
            }
        }
    
        &--right{
            animation: beeMoveRight infinite linear;
            @for $i from 1 through 7{
                .bee--right:nth-of-type(#{$i}){
                    animation-delay: $i*0.8s;
                    animation-duration: $i*0.8s + 8s;
                }
            }
        }
    }
}