.portfolio-line{
    width: 75%;
    cursor: pointer;
    padding: 3rem;
    border-top: 2px solid $main-yellow;
    color: $main-green;
    transition: all 0.5s;

    &:last-child{
        border-bottom: 2px solid $main-yellow;
    }

    &:hover{
        transform: scale(1.05);
        color: #ffffff;
    }

    &__header{
        position: relative;
        z-index: 1;
        display: grid;
        width: 100%;
        gap: 0.5rem;
        grid-template-columns: 2fr 1fr 1fr 1fr;


        div:not(:first-child):not(:last-child){
            text-align: center;
        }

        div:last-child{
            text-align: right;
        }
    }

    &__description{
        position: relative;
        z-index: 1;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        transition: all 0.5s;

        &--show{
            // animation: portfolio-drop-down 1s forwards;
        }

        &--hide{
            // animation: portfolio-drop-down 1s reverse forwards;
        }

        .description{
            &__images{
                width: 40%;
                display: flex;

                &--circle{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    background-color: $main-yellow;
                    box-shadow: 0.2rem 0.2rem 0.5rem $main-orange-dark;
                    background-size: cover;
                    background-position: center;

                    &:not(:first-child){
                        margin-left: -3rem;
                    }
                }
            }

            &__text{
                font-size: 1rem;
                line-height: 1rem;
                color: black;
                text-transform: initial;
                letter-spacing: 0.2rem;

                &--year, &--program{
                    display: block;
                }
            }
        }
    }

    &__main-image{
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        z-index: 0;
        width: 12em;
        height: 12em;
        background-color: #ffffff;
        position: absolute;
        transform: translate(-50%, -50%);
        // box-shadow: 0 0 20px rgba(16, 0, 54, 0.2);
        transition: 0.4s ease-in-out;
        animation: main-image-show 0.2s ease-in-out backwards;
    }
}

//Smaller Screens
@media screen and (max-width: 600px) {
    .portfolio__text{
        &--year, &--program{
            display: none;
        }
    }

    .portfolio-line{
        width: 100%;
        cursor: pointer;
        padding: 3rem;
        border-top: 1px solid white;
        color: $main-green;
    
        &__header{
            grid-template-columns: 2fr 1fr;
        }

        &__main-image{
            display: none;
        }

        &__description{
            margin-top: 2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;

            .description{
                &__images{
                    width: 100%;
                }
            }
        }
    }
}