.skill-block{
    position: relative;
    background-color: $main-yellow;
    border-radius: 6rem;
    padding: 5rem;
    width: 30rem;
    min-width: 30rem;
    height: 40rem;
    box-sizing: border-box;
    z-index: 3;

    &__amounts{
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        .amount{
            display: flex;
    
            &__percentage{

            }

            &__name{

            }
            
        }
    }

    &:nth-child(2){
        margin-left: -5rem;
        margin-right: -5rem;
    }

    
    &:not(.skill-block--active){
        opacity: 0.6;
        transform: scale(0.85);
    }
}

.skill-block--active{
    z-index: 4;
}

//Smaller Screens
@media screen and (max-width: 600px) {
    .skill-block{
        position: relative;
        background-color: $main-yellow;
        border-radius: 6rem;
        padding: 5rem;
        width: 30rem;
        min-width: 30rem;
        height: 40rem;
        box-sizing: border-box;
        z-index: 3;
    }
}