.skill-block{
    background-color: $main-yellow;
    border-radius: 6rem;
    padding: 3rem;
    width: 26rem;
    height: 36rem;
    box-sizing: border-box;

    &__amounts{
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        .amount{
            display: flex;
    
            &__percentage{

            }

            &__name{

            }
            
        }
    }
    
}